<!DOCTYPE html>
<html>
<head>
	<title>Edit Song</title>
</head>
<body>
<form method="POST" action="/songs">
	<input type="hidden" name="_method" value="patch">
	<h3>Name: <input type="text" name="song[name]" value="<%= @song.name %>"></h3>
	<h3>Artist: <input id="Artist Name" type="text" name="artist" value="<%= @song.artist.name %>"></h3>
	<h3>Genres: </h3>
	<% Genre.all.each do |genre| %>
		<input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.name %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %></input>
	<% end %>
	<input type="submit" value="Save">
</form>
</body>
</html>